"*":
  editor:
    softWrap: true
    invisibles: {}
    fontSize: 14
    fontFamily: "Source Code Pro"
  core:
    themes: [
      "unity-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "tabs"
      "tree-view"
    ]
  "exception-reporting":
    userId: "bbd0103a-7058-fdde-e270-23381f5b284d"
  welcome:
    showOnStartup: false
  "travis-ci-status": {}
  linter: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  autosave:
    enabled: true
  tabs:
    showIcons: true
  "sublime-tabs": {}
  "autocomplete-plus":
    minimumWordLength: 3
  "tree-view":
    hideVcsIgnoredFiles: false
    hideIgnoredNames: false
    showOnRightSide: false
    sortFoldersBeforeFiles: true
  "unity-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
